.container{
	width: 100%;
	margin-top: 10%;
	font-family: sans-serif;
	letter-spacing: 1px;
}
.container h2{
	background: #0062cc;
	color: #fff;
	width: 200px;
	font-size: 24px;
	padding: 5px;
	height: 40px;

}
.container h2::after{
	content: '';
	border-top: 40px solid #0062cc;
	border-right: 40px solid transparent;
	position: relative;
	left: 48px;
	bottom: -35px;

}
.row{
	margin-top: 30px;
}
img{
	width: 100%;
}
.product-bottom .fa{
	color: #28a745;
	font-size: 10px;
}
.product-bottom h3 {
	font-size: 20px;
	font-weight: bold;
}
.overlay{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	width: 70px;
}
.product-top:hover .overlay{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}
h1{
	
	font-family: sans-serif bold;
	padding-top: 60px;
	padding-left: 100px;
	padding-bottom: 1px;
	color: blue;
}
.body{
	background-color: skyblue;
}
.wd{
	background-color: skyblue;
	padding-left: 100px;
}
h4{
	padding-left: 140px;
	color: skyblue;
}